@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@500&display=swap');

#saturday {
    display: none;
}

#sunday {
    display: none;
}

#monday {
    display: none;
}

#tuesday {
    display: none;
}

#wednesday {
    display: none;
}

#thursday {
    display: none;
}

#friday {
    display: none;
}

header {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 90%;
}