#saturday {
    display: none;
}

#sunday {
    display: none;
}

#monday {
    display: none;
}

#tuesday {
    display: none;
}

#wednesday {
    display: none;
}

#thursday {
    display: none;
}

#friday {
    display: none;
}